@media screen and (max-width: 960px) {
    .container {
        width: 98%;
        margin: 0 auto;
    }

    .callback strong {
        width: 80%;
        margin: 0 auto;
    }

    .footer .space-between {
        justify-content: space-around;
    }

    .footinfo {
       display: none;
    }
}


@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .active-burger {
        display: block;
    }

    .hamburger {
        padding: 8px 0;
        height: 49px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburger span {
        margin: 4px 0;
        width: 35px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;  
        transform: rotate(180deg);
        transition: all .2s ease;
    }

    .hamburger-open span:nth-child(1) {
        transform: rotate(45deg);
        margin-top: 18px;
    }

    .hamburger-open span:nth-child(2) {
       opacity: 0;
    }

    .hamburger-open span:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: -18px;
    }

    .menu ul {
        position: absolute;
        top: 49px;        
        left: 0;
        right: 0;
        background-color: #313131;
        z-index: 1;
        flex-direction: column;
    }

    .menu ul li {
        padding: 0;
        width: 100%;
        text-decoration: none;

    }

    .contacts address,
    .contacts .address {
        display: none;
    }
}

@media screen and (max-width: 545px) {
    section {
        padding: 40px 0;
    }
    .container {
        max-width: 94%;
    }
   
    .contacts address,
    .contacts .address,
    .contacts .mail,
    .contacts .skype,
    .callback-arrow,
    .card p,
    .footinfo {
        display: none;
    }

    .contacts p {
        padding: 0;
    }

    .callback strong {
        width: 90%;
        margin: 0 auto 25px;
        font-size: 0.9em;
    }

    .about-teacher p {
        width: 90%;
        margin: 0 auto;
        line-height: 1.8em;
    }

    .services .space-between {
        flex-wrap: wrap
    }

    .card {
        width: 180px;
    }

    .card h4 {
        padding-bottom: 33px;
    }
    
    .porfolio .cta {
        margin-top: 0;
    }

    .porfolio button.mcta {
        margin-top: 25px;
    }

    .student4,
    .student3 {
        display: none;
    }
    
    .students img {
        margin: 0 5px;
    }

    .arrow {
        margin: 0 10px;
    }

    .coments {
        width: 100%;
    }

    .help p {
        width: 90%;
        margin: 0 auto;
        padding-top: 0;
    }

    .footer .space-between {
        width: 86%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .footer h4 {
        padding-bottom: 20px;
    }
    
    .last-job {
        padding-bottom: 20px;
        width: 100%;
    }
    
    .last-photos {
        width: 100%;
    }

    .last-photos a {
        width: 45%;
    }

    .last-photos img {
        padding: 13px 15px 0 0;
    }

    .footinfo {
        padding-bottom: 20px;
    }

    .social-info {
        padding-left: 25px;
    }

    .foot-social > .social-info > p > a:before, 
    .foot-social address:before {
        left: 0;
    }

    .before-tel:before {
        top: 78px;
    }
    
    .before-mail:before {
        top: 140px;
    }

    .vk {
        left: -27px;
    }

    .fb {
        left: 20px;
    }

    .tw {
        left: 68px;
    }

    .gg {
        left: 114px;
    }
}