*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

button {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    text-align: center;
    font-size: 14px;
}

section {
    padding: 60px 0;
    
}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2 {
    margin-bottom: 60px;
    font-size: 20px;
    font-family: "Roboto Slab";
    position: relative;
}

h2:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 60px;
    top: 55px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bfbfbf;
}

.header,
.contact, 
.callback {
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #313131;
}

.search {
  position: relative;
  max-width: 220px;
  margin: auto 0;
}

.search input, button {
  outline: none;
  background: transparent;
  color: white;
}

.search input {
  width: 100%;
  height: 30px;
  padding-left: 15px;
  border: 1px solid #989898;
}

.search button {
  border: none;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

button {
    cursor: pointer;
}

.search button:before {
  content: url(../img/what.png);
  position: absolute;
  font-size: 12px;
  left: 10px;
  top: 9px;
  color: #989898;
  transition: all .5s ease;
}

.search button:hover:before {
    filter: hue-rotate(360deg);
}

.search input:focus {
    box-shadow: inset 0 0 1px 1px #f2f2f2;
}

.header li {
    padding-right: 46px;
}

.header a {
    display: block;
    text-transform: uppercase;
    padding: 16px 0;
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.header a:hover {
    border-bottom: 2px solid #439eea;
}

.logo a {
    font-size: 26px;
    color: #5d5d5d;
    font-weight: 500;
    font-family: "Ubuntu";
    text-transform: uppercase;
    padding: 30px 0;
}

.contacts {
    align-items: center;
    font-family: "Open Sans";
}

.contacts p {
    padding-left: 35px;
}

.contacts address {
    font-size: 13px;
    color: #000000;
    font-style: normal;
    cursor: pointer;
}

.tel,
.skype,
.mail {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
}

.tel:hover,
.skype:hover,
.mail:hover, 
address:hover {
    text-decoration: underline;
    color: #3f83bc;
}
.mail {
    font-weight: 600;
}

.tel span {
    font-weight: 700;
}

.callback {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), #505559 url(../img/teacher.png) center/cover;    
    padding: 115px 0;
    position: relative;
}

.callback-arrow {
    border: 1px #b9bbbc solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 5%;
    top: 50.5%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


.callback-arrow:hover {
    background-color: #3f83bc;
    border: 0;
}

.arrowright {
    left: 93.5%;
    top: 45.5%;
    transform: rotateY(180deg);
}

.callback-arrow::after {
    content: url(../img/callarrow.png);
    position: absolute;
    top: 55%;
    left: 47%;
    transform: translate(-50%, -50%);

}

.callback h1,
.callback strong {
    color: #fcfcfc;
    margin-bottom: 25px;
    letter-spacing: 0.05em;
}

.callback h1 {
    font-size: 30px;
    font-family: "Roboto Slab";
    font-weight: 400;
}

.callback strong {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    font-family: "Roboto";
}

.cta {
    width: 140px;
    height: 30px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
}

.cta1 {
    border: 1px solid #439eea;
    background-color: #439eea;
    color: #fff;
}

button.cta1:hover {
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    color: #000;
}

.cta:hover {
    border: 1px solid #439eea;
    background-color: #439eea;
    color: #fff;
}

.about-teacher {
    line-height: 21px;
    margin: 0 auto;
}


.about-teacher p {
    line-height: 21px;
    max-width: 808px;
    margin: 0 auto;
}

.services,
.reviews {
    background-color: #f2f2f2;
}

.services .space-between {
    justify-content: space-around;
}

.card {
    max-width: 180px;
}

.services h4 {
    line-height: 21px;
    padding-top: 150px;
    padding-bottom: 18px;
    position: relative;
    min-height: 210px;
}

.icon:before {
    content: '';
    position: absolute;
    left: 36px;
    top: 10px;
    width: 110px;
    height: 110px;
}

.house:before {
    background: url(../img/sprite.png) no-repeat 0 0;
}

.house:hover:before {
    background-position: 0 -116px;
}

.diploma:before {
    background: url(../img/sprite.png) no-repeat -114px 0;
}

.diploma:hover:before {
    background-position: -114px -116px;
}

.books:before {
    background: url(../img/sprite.png) no-repeat -227px 0;
}

.books:hover:before {
    background-position: -227px -116px;
}


.services p {
    line-height: 20px;
    font-weight: 300;
    font-style: italic;
}


.porfolio .cta {
    margin-top: 30px;
    color: #000000;
}

.porfolio .cta:hover,
.porfolio .container .cta:hover {
    color: #fff;
}

.porfolio .container .cta {
    margin-left: 11px;
    margin-bottom: 30px;
    color: #000000;
    text-transform: none;
}

.reviews {
    padding-top: 60px;
}

.photo {
    background-color: #505559;
    height: 220px;
    overflow: scroll;
}

/* .photo img {
    transition: 1s;
}

.photo img:hover {
    transform: scale(1.2);
    z-index: 2;
} */

::-webkit-scrollbar {
    width: 1px;
    height: 10px;
    background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
    background-color: #439eea;
    border-radius: 9em;
}    

.photo-reviews {
    max-width: 430px;
    margin: 0 auto;
    justify-content: center; 
    align-items: center
}

.photo-reviews > a > img {
    padding: 5px;
    filter: grayscale(100%);
    transition: all .5s ease;
}

.photo-reviews > a > img:hover{
    filter: grayscale(0);
    transform: scale(1.2);
    z-index: 2;
}

.review {
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    font-weight: 300;
    font-style: italic;
    max-width: 500px;
    margin: 30px auto 25px;
    position: relative;
    z-index: 2;
    padding: 20px 0;
    border-radius: 4px;
}

.review::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #f7f7f7;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    transform: rotate(225deg);
    z-index: 1;
    top: -8px;
    left: 50%
}

.name-reviews {
    line-height: 18px;
    color: #000000;
    font-weight: 600;
    font-style: italic;
}

.arrow {
    width: 20px;
    height: 40px;
    text-align: center;
    margin: 0 30px;
    cursor: pointer;
}

.arrow:hover {
    filter: opacity(50%);
}

.arrow-right {
    transform: rotate(180deg);
}

.help {
    background-color: #439eea;
    color: #fff;
    padding-top: 60px;
}

.help p {
    padding: 10px 0 30px;
    line-height: 21px;
}

.help .cta {
    width: 180px;
    height: 35px;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(0,0,0,0);
    border: 2px solid #ffffff;
    cursor: pointer;
}

.help .cta:hover {
    background-color: #fff;;
    color: #439eea;
}

.footer {
    background-color: #313131;
    text-align: left;
    color: #5a5a5a;
}

.footer h4 {
    font-size: 14px;
    color: #989898;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 40px;
    padding-right: 139px;
}

.footer p {
    font-size: 13px;
    line-height: 19px;
    color: #5a5a5a;
    font-weight: 400;
}

.last-job {
    font-size: 14px;
    color: #989898;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 40px;
    text-decoration: none;
}

.before-add {
    font-style: normal;
    padding-bottom: 20px;
    color: #5a5a5a;
}

.ftel {
    font-size: 13px;
    line-height: 20px;
    color: #5a5a5a;
}

.fmail {
    padding: 20px 0;
    color: #5a5a5a;
}

.foot-social {
    position: relative;
}

.before-add:before {
    content: '';
    position: absolute;
    left: -25px;
    width: 9px;
    height: 12px;
    background: url(../img/sprite.png) no-repeat 0 -244px;
}

.before-tel:before {
    content: '';
    position: absolute;
    left: -25px;
    top: 98px;
    width: 10px;
    height: 10px;
    background: url(../img/sprite.png) no-repeat 0 -257px;
}

.before-mail:before {
    content: '';
    position: absolute;
    left: -25px;
    top: 160px;
    width: 18px;
    height: 10px;
    background: url(../img/sprite.png) no-repeat 0 -234px;
}

.social {
    width: 160px;
    height: 38px;
    position: relative;
}

.social-hov {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid #3f83bc;

}

.vk {
    left: -25px;
    background: url(../img/vk.png) 8.8px no-repeat;
}

.vk:hover {
    background: url(../img/vkhov.png) 8.8px no-repeat;
    background-color: #3f83bc;
}

.fb {
    left: 17px;
    background: url(../img/fb.png) 12px no-repeat;
}

.fb:hover {
    background: url(../img/fbhov.png) 12px no-repeat;
    background-color: #3f83bc;
}

.tw {
    left: 59px;
    background: url(../img/tw.png) 10px no-repeat;
}

.tw:hover {
    background: url(../img/twhov.png) 10px no-repeat;
    background-color: #3f83bc;
}

.gg {
    left: 101px;
    background: url(../img/gg.png) 11px no-repeat;
}

.gg:hover {
    background: url(../img/gghov.png) 11px no-repeat;
    background-color: #3f83bc;
}


.footinfo {
    max-width: 314px;
}

.last-photos {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    max-width: 240px;
}

.last-photos img {
    padding: 5px;
    filter: grayscale(100%);
    transition: all .5s ease;
}

.last-photos img:hover{
    filter: grayscale(0);
}

.copyright {
    background-color: #f2f2f2;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    padding: 10px;
}