*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    text-align: center;
    font-size: 14px;
}

section {
    padding: 60px 0;
    
}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h3 {
    margin-bottom: 60px;
    font-size: 20px;
    font-family: "Roboto Slab";
    position: relative;
}

h3:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 60px;
    top: 55px;
    left: 47%;
    background-color: #bfbfbf;
}

.header,
.contact, 
.callback {
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #313131;
}

.header li {
    padding-right: 46px;
}

.header a {
    display: block;
    text-transform: uppercase;
    padding: 16px 0;
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.header a:hover {
    border-bottom: 2px solid #439eea;
}

.logo a {
    font-size: 26px;
    color: #5d5d5d;
    font-weight: 500;
    font-family: "Ubuntu";
    text-transform: uppercase;
    padding: 30px 0;
}

.contacts {
    align-items: center;
    font-family: "Open Sans";
}

.contacts p {
    padding-left: 35px;
}

.contacts address {
    font-size: 13px;
    color: #000000;
    font-style: normal;
}

.mail {
    font-size: 13px;
    text-decoration: underline;
    color: #3f83bc;
    font-weight: 600;
}

.tel,
.skype {
    font-size: 13px;
    color: #000000;
    font-weight: 400;
}

.tel span {
    font-weight: 700;
}

.callback {
    background: #505559 url(../img/teacher.png) center/cover;    
    padding: 115px 0;
    position: relative;
}

.callback h1,
.callback h2 {
    color: #fcfcfc;
    margin-bottom: 25px;
    letter-spacing: 0.05em;
}

.callback h1 {
    font-size: 30px;
    font-family: "Roboto Slab";
    font-weight: 400;
}

.callback h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    font-family: "Roboto";
}

.cta {
    width: 140px;
    height: 30px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
}

.cta:hover {
    border: 1px solid #439eea;
    background-color: #439eea;
    color: #fff;
}

.about-teacher {
    line-height: 21px;
    margin: 0 auto;
}


.about-teacher p {
    line-height: 21px;
    max-width: 808px;
    margin: 0 auto;
}

.services,
.reviews {
    background-color: #f2f2f2;
}

.services .space-between {
    justify-content: space-around;
}

.card {
    max-width: 180px;
}

.services h4 {
    line-height: 21px;
    padding-top: 150px;
    padding-bottom: 18px;
    position: relative;
}

.icon:before {
    content: '';
    position: absolute;
    left: 36px;
    top: 10px;
    width: 110px;
    height: 110px;
}

.house:before {
    background: url(../img/sprite.png) no-repeat 0 0;
}

.house:hover:before {
    background-position: 0 -116px;
}

.diploma:before {
    background: url(../img/sprite.png) no-repeat -114px 0;
}

.diploma:hover:before {
    background-position: -114px -116px;
}

.books:before {
    background: url(../img/sprite.png) no-repeat -228px 0;
}

.books:hover:before {
    background-position: -228px -116px;
}


.services p {
    line-height: 20px;
    font-weight: 300;
    font-style: italic;
}


.porfolio .cta {
    margin-top: 30px;
    color: #000000;
}

.porfolio .cta:hover,
.porfolio .container .cta:hover {
    color: #fff;
}

.porfolio .container .cta {
    margin-left: 11px;
    margin-bottom: 30px;
    color: #000000;
    text-transform: none;
}

.reviews {
    padding-top: 60px;
}

.photo {
    background: #505559 url(../img/photos.png) center/cover;
    height: 220px;
}

.photo-reviews {
    max-width: 430px;
    margin: 0 auto;
    justify-content: center; 
    align-items: center
}

.photo-reviews > a > img {
    padding: 5px;
    filter: grayscale(100%);
}

.photo-reviews > a > img:hover{
    fill: grayscale(0);
}

.review {
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    font-weight: 300;
    font-style: italic;
    max-width: 500px;
    margin: 30px auto 25px;
    position: relative;
    z-index: 2;
    padding: 20px 0;
    border-radius: 4px;
}

.review::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #f7f7f7;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    transform: rotate(225deg);
    z-index: 1;
    top: -8px;
    left: 50%
}

.name-reviews {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    font-style: italic;
}

.arrow {
    width: 20px;
    height: 40px;
    text-align: center;
    margin: 0 30px;
    cursor: pointer;
}

.arrow-right {
    transform: rotate(180deg);
}

.help {
    background-color: #439eea;
    color: #fff;
    padding-top: 60px;
}

.help p {
    padding: 10px 0 30px;
    line-height: 21px;
}

.help .cta {
    width: 180px;
    height: 35px;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(0,0,0,0);
    border: 2px solid #ffffff;
    cursor: pointer;
}

.help .cta:hover {
    background-color: #fff;;
    color: #439eea;
}

.footer {
    background-color: #313131;
}

.footinfo {
    max-width: 314px;
}

.last-photos {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    max-width: 240px;
}

.last-photos img {
    padding: 5px;
}
